header {
  background: rgb(255, 248, 224);
  border-bottom: 2px solid rgb(236, 234, 234);
  position: relative;
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

nav a {
  margin: 0.5em;
}

nav a:active {
  color: purple;
}

nav a.active {
  color: darkblue;
  font-weight: bold;
  text-decoration: overline;
}

.app-logo {
  font-size: 30px;
  margin-inline-start: 20px;
  color: rgb(49, 52, 52);
}

.nav-main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid var(--clr-border1);
  border-radius: 0.8em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.nav-main-menu .btn-menu {
  width: 60px;
  height: 60px;
  border: 1px solid var(--clr-border1);
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
