.user-msg {
  background-color: lightgray;
  padding: 1em;
  position: absolute;
  bottom: 0;
  right: 10em;
  border-radius: 1em;
  width: 200px;
  height: 60px;
}

.user-msg.success {
  background-color: lightgreen;
}

.user-msg.error {
  background-color: lightpink;
}

.user-msg button {
  float: right;
  background-color: rgb(237, 229, 230);
  padding: 10px;
}
