:root {
  --main-bg-list: #fff;
  --main-bg-rgb: #f6f8fc;
  --clr-src: #eaf1fb;
  --clr-article-border: #eeeff2;
  --clr-article-selected: #c2dbff;
  --clr-compose: #c2e7ff;
  --clr-btn-marked: #f7ca6d;
}
