section.mail-header {
  background-color: aqua;
}

.mail-header .container-logo-hamburger {
  width: 250px;
  height: 50px;
}

.mail-search {
  background-color: var(--clr-src);
}
.mail-search .mail-input-search {
  background-color: var(--clr-src);
  border: none;
}
