section.mail-list {
  background-color: var(--main-bg-list);
}

.mail-list article {
  border: 1px solid var(--clr-article-border);
  border-collapse: collapse;
}

.mail-list :nth-child() {
  background-color: var(--clr-article-selected);
}

.mail-list article.bg-read-mail :nth-child() {
  background-color: var(--main-bg-rgb);
}
