.mail-tools {
  background-color: var(--main-bg-list);
  position: absolute;
  right: 10px;
  width: 150px;
  height: 40px;
  /* display: none; */
  opacity: 0;
}

.mail-tools img {
  width: 30px;
  height: 30px;
}

section.mail-preview:hover + .mail-tools {
  /* background-color: rgb(221, 0, 255); */
  /* display: block; */
  opacity: 1;
  transition: opacity 0.8s;
}
/* .box-mail-subject :hover .mail-tools {
} */
/* .box-mail-body :hover .mail-tools {
  background-color: rgb(221, 0, 255);
} */
