section.mail-preview {
  /* background-color: aqua; */
}

.box-mail-subject {
  width: 170px;
  margin-inline-end: 30px;
  cursor: pointer;
}

.box-mail-body {
  width: auto;
  cursor: pointer;
}

.box-created-time {
  width: 70px;
  align-content: end;
}

.mail-preview button {
  border: none;
  background: none;
}

.mail-preview button.btn-marked {
  color: var(--clr-btn-marked);
}

.mail-preview .box {
  width: 30px;
  height: 20px;
  font-size: 16px;
  background-color: aquamarine;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
