section.mail-list {
  background-color: var(--main-bg-list);
}

.mail-list article {
  border: 1px solid var(--clr-border-li);
  border-collapse: collapse;
}

article.bg-selected-mail {
  background-color: var(--main-bg-list);
}

article.bg-read-mail {
  background-color: var(--main-bg-list);
}
