.edit-note {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: calc(50% - 300px);
  box-shadow: 0px 0px 6px 0px;
  width: 600px;
  box-shadow: 0px 0px 3px 0px;
  border-radius: 0.5em;
}

.edit-note input,
textarea {
  padding: 15px;
  border-radius: 0.5em;
  border: none;
}

.edit-note button {
  margin-block-end: 10px;
  background-color: rgb(205, 129, 129);
}
