.making-note {
  height: 200px;
}

.box-show-making-note {
  /* width: 600px; */
  padding: 10px;
  box-shadow: 0px 0px 6px 0px;
  border-radius: 0.5em;
}

@media (max-width: 600px) {
  .making-note {
    height: 140px;
  }

  .box-show-making-note {
    width: 320px;
  }
}

@media (min-width: 600px) {
  .box-show-making-note {
    width: 600px;
  }
}
