.note-header {
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid var(--clr-border1);
  box-shadow: rgb(215, 212, 212) 0px 4px 3px 0px;
  position: fixed;
  z-index: 20;
  top: 0;
}

.main-search-container {
  /* background-color: aqua; */
  width: 400px;
  border: 1px solid var(--clr-border1);
  border-radius: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-search-container input {
  background-color: aqua;
  width: 90%;
  padding: 10px;
  background: none;
  border: none;
}

@media (max-width: 640px) {
  .main-search-container {
    width: 300px;
  }
}
