.note-box-tools {
  padding: 5px;
}

.box-tools {
  display: none;
}

.note-box-tools img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.note-card :hover + .note-box-tools {
  display: block;
}
