.note-header {
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid var(--clr-border1);
  border-bottom: 1px solid var(--clr-border1);
  box-shadow: rgb(215, 212, 212) 1px -4px 3px 0px;
  position: fixed;
  z-index: 20;
}
