.palette-note {
  background-color: aqua;
  position: absolute;
  bottom: -10;
  padding: 10px;
  z-index: 10;
}

.btn-palette {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  margin: 2px;
}
