.main-layout > *:not(.full) {
  max-width: 100%;
}

/* ---Mobile---- */
@media (max-width: 600px) {
  /* HEADER */
  .mail-header .container-logo-hamburger {
    width: 60px;
    margin-inline-end: 20px;
  }

  .mail-hamburger {
    margin: 0 10px;
  }
  .container-search-menu {
    justify-content: space-between;
    width: 100%;
  }

  .mail-search {
    width: 250px;
  }

  .box-menu {
    margin-inline-end: 10px;
  }
}

@media (min-width: 600px) {
  .mail-header {
  }
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
